@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_Layout2";
}

<!-- page-content -->
<div class="page-content" style="margin-top:10%">
    <div class="container text-center text-dark">
        <div class="row">
            <div class="col-lg-6 d-block mx-auto">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center mb-2">
                                    <a class="header-brand1" asp-area="" asp-page="/Index">
                                        <img src="~/assets/img/logoDockria.svg" class="header-brand-img main-logo" alt="Sparic logo" style="height:7.0rem">
                                    </a>
                                </div>
                                <form method="post">
                                    <h4 class="fw-semiboild" style="font-weight:bold;">Forgot password</h4>
                                    <div class="input-group me-auto ms-auto mb-4">
                                        <span class="input-group-addon bg-white d-flex align-items-center">
                                            <i class="fa fa-envelope fa-lg text-muted-dark mr-2"></i>
                                        </span>
                                        @*<input type="password" class="form-control" placeholder="Email address">*@

                                        <input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="username" aria-required="true" />
                                    </div>
                                    <div class="text-center">
                                        @*<a asp-area="" asp-page="/Index" class="btn btn-primary btn-block">Send</a>*@
                                        <button id="Resetbtn" type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                                    </div>
                                </form>
                                <br />
                                @if (Model.ModelState.ErrorCount > 0)
                                {
                                    <div class="alert alert-danger">
                                        <ul>
                                            @foreach (var key in Model.ModelState.Keys)
                                            {
                                                foreach (var error in Model.ModelState[key].Errors)
                                                {
                                                    <li>@error.ErrorMessage</li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}