@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_Layout2";
}


<!-- page-content -->
<div class="page-content" style="margin-top:8%">
    <div class="container text-center text-dark">
        <div class="row">
            <div class="col-lg-6 d-block mx-auto">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post">
                                    <div class="text-center mb-2">
                                        <a class="header-brand1" asp-area="" asp-page="/Index">
                                            <img src="~/assets/img/logoDockria.svg" class="header-brand-img main-logo" alt="Sparic logo" style="height:7.0rem">
                                        </a>
                                    </div>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input asp-for="Input.Code" type="hidden" />
                                    <h3 style="font-weight:bold;">Reset Password</h3>

                                    <div class="input-group mb-3">
                                        <span class="input-group-addon bg-white d-flex align-items-center"><i class="fa fa-user fa-lg text-dark mr-2"></i></span>
                                        <input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="username" aria-required="true" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>


                                    <div class="input-group mb-4">
                                        <span class="input-group-addon bg-white d-flex align-items-center">
                                            <i class="fa fa-unlock-alt fa-lg text-dark mr-2"></i>
                                        </span>
                                        <input id="Password" asp-for="Input.Password" class="form-control" placeholder="New Password" autocomplete="current-password" aria-required="true" />
                                        <i class="fa fa-eye" id="open" style="margin-top: 14px; cursor: pointer; position: absolute; right: 10px;"></i>
                                        <i class="fa fa-eye-slash" id="closed" style="margin-top: 14px; display: none; cursor: pointer; position: absolute; right: 10px;"></i>
                                    </div>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    <div class="input-group mb-4">
                                        <span class="input-group-addon bg-white d-flex align-items-center">
                                            <i class="fa fa-unlock-alt fa-lg text-dark mr-2"></i>
                                        </span>
                                        <input id="Password1" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm New Password" autocomplete="current-password" aria-required="true" />
                                        <i class="fa fa-eye" id="open1" style="margin-top: 14px; cursor: pointer; position: absolute; right: 10px;"></i>
                                        <i class="fa fa-eye-slash" id="closed1" style="margin-top: 14px; display: none; cursor: pointer; position: absolute; right: 10px;"></i>
                                    </div>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    <div class="row">
                                        <div class="col-12">
                                            @*<a asp-area="" asp-page="/Index" class="btn btn-primary btn-block">Login</a>*@
                                            <button id="submit" type="submit" class="btn btn-primary btn-block">Reset Password</button>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#open").click(function () {
            $("#open").hide();
            $("#closed").show();
            $("#Password").attr("type", "text")
        });
        $("#closed").click(function () {
            $("#closed").hide();
            $("#open").show();
            $("#Password").attr("type", "password")
        });
        $("#open1").click(function () {
            $("#open1").hide();
            $("#closed1").show();
            $("#Password1").attr("type", "text")
        });
        $("#closed1").click(function () {
            $("#closed1").hide();
            $("#open1").show();
            $("#Password1").attr("type", "password")
        });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}