@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_Layout2";
}

<div class="page-content" style="margin-top:10%">
    <div class="container text-center text-dark">
        <div class="row">
            <div class="col-lg-6 d-block mx-auto">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-md-12">
                        <div class="card" style="max-width: 400px; margin: auto;">
                            <div class="card-body">
                                <div class="text-center mb-2">
                                    <a class="header-brand1" asp-area="" asp-page="/Index">
                                        <img src="~/assets/img/logoDockria.svg" class="header-brand-img main-logo"
                                             alt="Sparic logo" style="height:7.0rem">
                                    </a>
                                    <div style="text-align: center;">
                                        <h1>@ViewData["Title"]</h1>
                                        <h3>Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


