			
			<footer class="footer">
				<div class="container">
					<div class="row align-items-center flex-row-reverse">
						<div class="col-lg-12 col-sm-12   text-center">
							Copyright © 2023 Dockria
						</div>
					</div>
				</div>
			</footer>