@model Domain.Model.ViewModel.UserGroupPermissionVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <text>
        <style>

            .select-with-arrow::after {
                right: 10px;
            }
            / Style for the Save button /
            .btn-save {
                background-color: #1B998B;
                color: #fff;
            }

            / Style for the Clear button /
            .btn-danger {
                background-color: #9F0F0F;
                color: #fff;
            }

/*                Hover effect for both buttons (optional) 
*/                .btn-save:hover,
                .btn-danger:hover {
                    opacity: 0.8;
                    transition: opacity 0.3s;
                }

        </style>
    </text>



<div class="card m-2 p-2">
    <div class="card-header">
        <h4 class="card-title">ADD NEW GROUP PERMISSION</h4>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-2 offset-1">
                <div class="label-heading">
                    <label asp-for="@Model.?UserGroup.UserGroupName" class="small">GROUP NAME</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group select-with-arrow">
                    <select asp-for="@Model.?UserGroup.?UserGroupName" name="UserGroupName" class="form-control form-control-sm dropdown-toggle"
                            data-bs-toggle="dropdown" aria-required="true" id="groupList">
                        <option disabled selected></option>
                    </select>
                </div>
            </div>
            <div class="col-md-7 text-right">
                <div class="input-group">
                    <div class="col-md-5 offset-1">
                        <div style="font-size:1.2em;">
                            <input type="checkbox" class="fs-5" id="checkAllPermissions" />
                            <label for="CheckAllPermissions" class="small">ALL PERMISSIONS</label>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-end">
                        <button id="submitButton" type="submit" class="btn btn-save mr-2">Save</button>
                        <button id="clearButton" type="submit" class="btn btn-danger">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <form id="UserGroupPermissions">
        <div class="form-row">
            <div class="col">
                <div class="form-group border border-dark p-3">
                    <div class="p-3">
                        <div class="form-check d-flex align-items-center">
                            <div class="checkbox-wrapper offset-5">
                                <input type="checkbox" class="form-check-input checkAllDocMngPermissions fs-6" id="checkAllDocMngPermissions">
                            </div>&nbsp;
                            <label class="form-check-label fw-bold dmsLabel card-title" style="margin-bottom:0.5em;" for="documentManagementCheckbox">DMS RESTRICTIONS</label>
                        </div>
                    </div>
                    <div class="checkbox-list">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="ViewDoc" value="ViewDoc" id="viewDoc">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.ViewDoc">View Doc</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="DocSinAdd" value="DocSinAdd" id="docSinAdd">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.DocSinAdd">Upload Single Document</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="DocMulAdd" value="DocMulAdd" id="docMulAdd">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.DocMulAdd">Upload multiple documents</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="DocCopy" value="DocCopy" id="docCopy">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.DocCopy">Copy Doc</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="DocMove" value="DocMove" id="docMove">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.DocMove">Move Doc</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="DocDelete" value="DocDelete" id="docDelete">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.DocDelete">Delete Doc</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="DocRename" value="DocRename" id="docRename">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.DocRename">Rename File</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="DocPrivate" value="DocPrivate" id="docPrivate">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.DocPrivate">Make Document Private</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="DocDown" value="DocDown" id="docDown">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.DocDown">Download PDF</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="DocPrint" value="DocPrint" id="docPrint">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.DocPrint">Print PDF</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="ViewMatadata" value="ViewMatadata" id="viewMatadata">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.ViewMatadata">View Metadata</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="EditMatadata" value="EditMatadata" id="editMatadata">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.EditMatadata">Edit Metadata</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="ShareDocInt" value="ShareDocInt" id="shareDocInt">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.ShareDocInt">Share Doc Internally</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="ShareDocExt" value="ShareDocExt" id="shareDocExt">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.ShareDocExt">Share Doc Externally</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="ShareSigExt" value="ShareSigExt" id="shareSigExt">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.ShareSigExt">Share Signature Externally</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="AuditLogDoc" value="AuditLogDoc" id="auditLogDoc">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.AuditLogDoc">Audit Log - Document(s)</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="DocVerView" value="DocVerView" id="docVerView">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.DocVerView">Document Version View</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="DocRollBack" value="DocRollBack" id="docRollBack">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.DocRollBack">Document Roll-back option</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="DownCsvRpt" value="DownCsvRpt" id="downCsvRpt">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.DownCsvRpt">Download CSV report</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="AuditLogUser" value="AuditLogUser" id="auditLogUser">
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.AuditLogUser">Audit Log - User(s)</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" type="checkbox" name="AsgnDocUser" value="AsgnDocUser" id="asgnDocUser" />
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.AsgnDocUser">Assign Document to User</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input documentMangCheckbox" style="margin-top:0.5em;" type="checkbox" name="MaxDocUpSize" value="MaxDocUpSize" id="maxDocUpSize" />
                                    <label class="form-check-label" for="@Model?.DocumentManagement?.MaxDocUpSize">
                                        Maximum Upload Size of a Document
                                        <input type="text" name="MaxDocNum" id="maxDocUpNum" class="text-center" style="width: 2.5em;" value="5" /> in MB
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*EndUserManagement Permission View*@
        <div class="form-row">
            <div class="col">
                <div class="form-group border border-dark p-3">
                    <div class="p-3">
                        <div class="form-check d-flex align-items-center">
                            <div class="checkbox-wrapper offset-5">
                                <input class="form-check-input endUserManagementCheckbox fs-6" type="checkbox" name="EndUserManagement" value="EndUserManagement" id="endUserManagementCheckbox">
                            </div>&nbsp;
                            <label class="form-check-label fw-bold card-title" style="margin-bottom:0.2em;" for="EndUserManagement">END USER RESTRICTIONS</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input endUserManagement" type="checkbox" name="EditEmail" value="EditEmail" id="editEmail">
                                <label class="form-check-label" for="EditEmail">Edit  Email</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input endUserManagement" type="checkbox" name="EditPassword" value="EditPassword" id="editPassword">
                                <label class="form-check-label" for="EditPassword">Edit  Password</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input endUserManagement" type="checkbox" name="EditSign" value="EditSign" id="editSign">
                                <label class="form-check-label" for="EditSign">Edit  Signature</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*RAD PDF Tool Restrictions View*@
        <div class="form-row">
            <div class="col">
                <div class="form-group border border-dark p-3">
                    <div class="p-3">
                        <div class="form-check d-flex align-items-center">
                            <div class="checkbox-wrapper offset-5">
                                <input class="form-check-input radManagementCheckbox fs-6" type="checkbox" name="RadManagement" value="RadManagement" id="radManagementCheckbox">
                            </div>&nbsp;
                            <label class="form-check-label fw-bold card-title" style="margin-bottom:0.2em;" for="radManagementCheckbox">RAD PDF TOOL RESTRICTIONS</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input radManagement" type="checkbox" name="RadView" value="RadView" id="radView">
                                <label class="form-check-label" for="Group">PDF View</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input radManagement" type="checkbox" name="RadEdit" value="RadEdit" id="radEdit">
                                <label class="form-check-label" for="User">PDF Edit</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input radManagement" type="checkbox" name="RadFormFill" value="RadFormFill" id="radFormFill">
                                <label class="form-check-label" for="AuditLog">Form Fill</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Add this modal HTML code to your page -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height:175px">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success Message</h5>
                <button type="button" class="close btn-red" data-bs-dismiss="modal" aria-label="Close" fdprocessedid="rux1w">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="successModalBody">
                <!-- Error message will be displayed here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- Add this modal HTML code to your page -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height:175px">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error Message</h5>
                <button type="button" class="close btn-red" data-bs-dismiss="modal" aria-label="Close" fdprocessedid="rux1w">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorModalBody">
                <!-- Error message will be displayed here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/js/userGroupPermission.js"></script>
}