
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="user-list" class="row">
    <div id="company-user-list" class="col-md-3">
        
    </div>

    <div class="col-md-9 ">
        @await Html.PartialAsync("_CompanyUserForm", new Domain.Model.CompanyUsers())
    </div>
</div>
